*{
    margin: 0;
    padding: 0;

}

body {
    background: rgb(53, 51, 51);
    display: grid;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: auto auto auto auto;

}

/* nav */
nav {
    grid-row: 1;
    grid-column: 1/4;
    background: linear-gradient( darkgrey, lightgrey);
}


.nav-label {
    color: aqua;
    text-align: center;
    font-size: 2em;
    font-family: fantasy, sans-serif;
    padding-left: 5px;
}

nav i {
    color: aqua;
    margin-top: 0;
}

nav ul{
    position: fixed;
    display: block;
    background: linear-gradient( darkgrey, lightgrey);
    list-style: none;
    border: 1px solid red;
    top: 0;
    left: 62%;
    width: 33%;
    height: 14%;
}
nav ul li{
    margin-bottom: 2px;
}
nav ul li:hover{
    transform: scale(1.5);
}
.show-nav{
    display: block;
    color: aqua;
    padding-left: 5px;
}

#drop-down .on {
    display: block;
}
#drop-down .off {
    display: none;
}
#drop-down:target .on {
    display: none;
}
#drop-down:target .off {
    display: block;
}

#drop-down:target nav ul{
    display: none;
}


header{
    grid-row: 2;    
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
    margin: 0;
}

.img-1{
    width: 100%;
    opacity: 0.7;
}

.header-img-left{
    grid-column: 1;
    width: 100%;
    z-index: -1;
}

.header-img-right{
    grid-column: 2;
    width: 100%;
    z-index: -1;
}

/* about me page mobile */

.index-page {
    grid-row: 3;
    grid-column: 2/5;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 49% 2% 49%;
}

.main-left{
    grid-column: 1;
}
.main-left img{
    height: 25vh;
    width: 75%;
}

.main-right{
    grid-column: 3;
    padding-right: 5px;
}

.main-right p{
    font-size: 1em;
}

.about-me-box ul{
    border: 2px solid aqua;
    margin-top: 50%;
    padding: 0;

}
.about-me-box ul li{
    list-style: none;
    line-height: 2em;
    color: white;
}
/* footer */

footer{
    grid-row: 4;
    grid-column: 1/6;
    background: linear-gradient( darkgrey, lightgrey);
    border: 2px solid black;
    position: fixed;
    bottom: 0;

}
footer ul{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    width: 100%;
    height: 100%;
}

footer ul li{
    color: black;
}

/* portfolio */

.portfolio-page{
    grid-row: 3;
    grid-column: 2/5;
}

.portfolio-page li img{
    height: 75%;
    width: 75%;
}

.portfolio-page ul{
    list-style: none;
}

/* work exp page */

.work-experiance-page{
    grid-column: 2;
    grid-row: 3;
}

.army{
    margin-top: 1em;
    margin-bottom: 1em;
}

.cba{
    margin-top: 1em;
    margin-bottom: 1em;
}
.work-experiance-page img{
    height: 50%;
    width: 75%;
}

/* report */

.report-page{
    grid-row: 3;
    grid-column: 2;
}

.rep-1{
    margin-top: 1em;
}

/* contact page */

.main-contact{
    grid-row: 3;
    grid-column: 2;
    display: grid;
    grid-template-rows: 50% 50%;
}

.extra-info{
    grid-row: 1;
    
}

.extra-info ul{
    border: 2px dotted whitesmoke;
}

.extra-info ul li{
    list-style: none;
    color: white;
    padding: 2px;
}

.contact-page{
    grid-row: 2;
}