*{
    margin: 0;
    padding: 0;
}
body{
    display: grid;
    grid-template-columns: 25% 15% auto 15% 25%;
    grid-template-rows: auto auto auto auto;
    background:rgb(53, 51, 51);
}
nav{
    grid-row: 1;
    grid-column: 1/6;
    height: 2.5em;
    background: linear-gradient( darkgrey, lightgrey);
    border: 2px solid black;
    padding: 0.5em;
    z-index: 1;
    
}
.nav-label{
    color: aqua;
    text-align: center;
    font-size: 2em;
}
nav ul{
    list-style: none; 
    display: flex;
    float: right;
    width: 50%;
    height: 100%;
    justify-content: space-between;
    align-items: center;
    
}


nav ul li:hover{
    border: 1px solid black;
    cursor: pointer;
}
header{
    grid-row: 2;    
    grid-column: 1/6;
    display: grid;
    grid-template-columns: 50% 50%;
    height: auto;
}

.img-1{
    width: 100%;
    opacity: 0.7;
}

.header-img-left{
    grid-column: 1;
    width: 100%;
}

.header-img-right{
    grid-column: 2;
    width: 100%;
}

/* main content for index */
main.index-page{
    grid-row: 3;
    grid-column: 2/5;
    margin-top: 5px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.main-left{
    grid-column: 1;
    
}
.main-left img{
    height: 100%;
    width: 100%;
}

.main-right{
    grid-column: 2;
    padding: 5px;
    
}
.about-me-box ul{
    border: 2px solid aqua;
    margin-top: 50%;


}
.about-me-box ul li{
    list-style: none;
    line-height: 2em;
    color: white;
}
/* work-exp page */
.work-experiance-page{
    grid-column: 2/5;
    display: grid;
    grid-template-columns: 49% 2% 49%;

}

.work-experiance-page .army{
    grid-column: 1;
}

.work-experiance-page .cba{
    grid-column: 3;
}


.work-experiance-page img{
height: 250px;
width: 100%;
margin-top: 5px;
}

/* portfolio page */

.portfolio-page{
    overflow: scroll;
    grid-column: 2/5;
    height: 400px;
}

.portfolio-page p{
    color: black;
}
.portfolio-page ul{
    list-style: none;
}


.portfolio-page li{
    border: 2px solid black;
    margin-top: 1em;
    margin-right: 1em;
    padding: 5px;
}

.portfolio-page li:nth-child(odd){
    background-color: tan;
}

.portfolio-page li:nth-child(even){
    background-color: palegoldenrod;
}

.portfolio-page li img{
    height: 150px;
    width: 250px;
    
}

/* contact me page */
.main-contact{
    display: grid;
    grid-column: 2/6;
    grid-row: 3;
    grid-template-columns: 50% 50%;
}
.contact-page{
    margin-top: 5px;

}

.extra-info{
    grid-column: 2;
    margin-top: 5px;
}


.extra-info ul li{
    list-style: none;
    color: white;
}

.contact-page label{
    color:white;
    padding-top: 5px;
    text-align: left;
}

.contact-page input{
    background-color: black;
    border: 1px solid white;
    color:white;
    margin-bottom: 10px;
}

.contact-page textarea{
    background-color: black;
    border: 1px solid white ;
    margin-bottom: 10px;
}

.contact-page input[type="submit"]{
    background-color: black;
    color: white;
    
}










/* generic footer */
footer{
    grid-row: 4;
    grid-column: 1/6;
    background: linear-gradient( darkgrey, lightgrey);
    border: 2px solid black;

}
footer ul{
    display: inline-flex;
    list-style: none;
    justify-content: space-between;
    width: 50%;
    height: 100%;
}

footer ul li{
    color: black;
}